#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title-big {
  font-size: 4rem;
}
#title-small {
  font-size: 2rem;
}

#explanation {
  font-size: 1.5rem;
}
