// font -----------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap");

@mixin mate-regular {
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: normal;
}
@mixin mate-regular-italic {
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: italic;
}

p,
li {
  font-size: 1.3rem;
}

// root -----------------------------------------------------------------------
html,
body,
#root,
#app {
  @include mate-regular;
  margin: 0;
  padding: 0;
  color: black;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

/* 
Element First Media Queries

built off https://cheewebdevelopment.com/element-first-scss-media-queries/
breakpoints pulled from: https://getbootstrap.com/docs/5.0/layout/breakpoints/
*/

// A map of breakpoints.
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// a query below(default) or above a point
@mixin size($breakpoint, $direction: down) {
  // If the breakpoint exists in the map, get it, else use wildcard
  $breakpoint-value: if(
    map-has-key($breakpoints, $breakpoint),
    map-get($breakpoints, $breakpoint),
    $breakpoint
  );
  @if $direction == up {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else if $direction == down {
    @media (max-width: $breakpoint-value) {
      @content;
    }
  }
}

// a query between two points
@mixin within($lower, $upper) {
  $lower-breakpoint: if(
    map-has-key($breakpoints, $lower),
    map-get($breakpoints, $lower),
    $lower
  );
  $upper-breakpoint: if(
    map-has-key($breakpoints, $upper),
    map-get($breakpoints, $upper),
    $upper
  );

  @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint)) {
    @content;
  }
}
